name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Lints
        run: cargo fmt --check

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: cargo build --verbose
        timeout-minutes: 5

  msrv:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust_version: ["1.67.1", "nightly", "stable"]

    steps:
      - uses: actions/checkout@v4

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.7.0
        with:
          cache-targets: false
          key: ${{ matrix.rust_version }}

      - name: Install rust toolchain ${{ matrix.rust_version }}
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust_version }}

      - name: Check
        run: cargo +${{ matrix.rust_version }} check

      - name: Tests with all features
        run: cargo +${{ matrix.rust_version }} test --all-features
        timeout-minutes: 10
