name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: cargo fmt --check

    - name: Setup cargo
      run: cargo install cargo-all-features

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test-all-features

    - name: Run MSRV checks
      run: cargo msrv verify -- cargo check --all-features
