name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Lints
        run: cargo fmt --check

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: cargo build --verbose
        timeout-minutes: 5

      - name: Check
        run: cargo check

      - name: Tests with all features
        run: cargo +1.67.2 test --all-features
        timeout-minutes: 10

